<section id="about">
	<br>
	<div class="container">	
		<div class="row">
  			<br>
  			<div class="col-md-4">
  				<i class="fa fa-star fa-4x"></i><i class="fa fa-certificate fa-4x"></i><i class="fa fa-star fa-4x"></i>
  				<h2>Show off your collection</h2>
  				<p>
  					"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  				</p>
  			</div>

 			<div class="col-md-4">
 				<i class="fa fa-hand-o-right fa-4x" style="margin-right: 5px;"></i><i class="fa fa-hand-o-left fa-4x" style="margin-left: 5px;"></i>
 				<h2>Post offers and make trades</h2>
 				<p>
  					"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  				</p>
 			</div>

  			<div class="col-md-4">
  				<i class="fa fa-users fa-4x"></i>
  				<h2>Connect with other hackers</h2>
  				<p>
  					"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  				</p>
  			</div>
		</div>
	
	</div>
</section>