<section id="login-signup">
	<div class="container">
		<h1 style="font-family: 'VT323', san-serif; color: #f9f9f9; font-size: 6rem; position: relative;">Let's trade</h1>
			<button class="button"><a href="signup">Sign Up</a></button>
			<button class="button"><a href="login">Login</a></button>
	</div>
</section>