<section id="login-signup">
	<div class="container">
		<h1 style="font-family: 'VT323', san-serif; color: #f9f9f9; font-size: 6rem; position: relative;">Let's trade</h1>
			<div class="button"><a href="">Sign Up</a></div>
			<div class="button"><a href="login">Login</a></div>
	</div>
</section>