<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  	<% include ../partials/nav.ejs %>
	<section id="login">
		<div class="form">
			<div class="container">
				<img src="../public/images/logo.png" style="margin-top: 50px; height:300px; width: auto;" />
				<h1 style="	font-family: 'VT323', san-serif; color: #f9f9f9; font-size: 10rem; position: relative; top: -2rem;">Login</h1>
					<form style="margin-top: 20px;">
		  	  			
		  	  			<fieldset class="form-group" style="margin-bottom: 0">
		  					<label for="formUsernameInput"></label>
    			  			<input type="text" class="form-control" style="width: 50%; margin: 0 auto; margin-top:10px;" id="formUsernameInput" placeholder="Username">
  			  			</fieldset>
  			  		
  			  			<fieldset class="form-group" style="margin-bottom: 0">
		  					<label for="formPasswordInput"></label>
    			  			<input type="password" class="form-control" style="width: 50%; margin: 0 auto; margin-top:10px;" id="formPasswordInput" placeholder="Password">
  			  			</fieldset>
							<button class="button" style="margin: 30px;"><a href="dashboard">Login</a></div>
  			 		</form>
  			 		<a href="signup" style="text-decoration: none;">Sign up for StickerShare</a>
					<br>
					<br>
				</div>

		</div>
	</section>
	
</body>

<footer>
	<% include ../partials/footer.ejs %>
</footer>

</html>
