<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
	<% include ../partials/nav.ejs %>
	<section id="profile">
		<div class="container">
			<h1 style="	font-family: 'VT323', san-serif; color: #f9f9f9; font-size: 6rem; position: relative; top: 5rem;">Username</h1>
			<div id="profile-outline">
				<div id="profile-pic"><img src="../public/images/logo.png" style="height: 200px; width: auto;"/></div>
				<div id="information">
					<p><strong>Name: </strong> Pearl Hack</p>
					<p><strong>GitHub: </strong> pearlypearlhacks</p>
					<p><strong>Personal Website: </strong> www.iamthebest.com</p>
					<p><strong>Member Since:</strong> 4/3/2016</p>
					<p><strong>Stickers Collected: </strong> 9000</p>
					<p><strong>Trades Made: </strong> 9000</p>
				</div>
				
				<div id="collection"></div>
				<div id="trades"></div>

			</div>
		</div>
	</section>
</body>
<footer>
	<% include ../partials/footer.ejs %>
</footer>

</html>
